#home {
    font-family: "Courier New", Courier, monospace;
    background-color: #e2edff;
}

.jumbotron {
    padding-top: 3rem;
    /* background-color: #e2edff; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.card .project {
    width: 200px;
}