.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
    /* height: 600px; */
}

#projects {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}

footer {
    background-color: #0d6efd;
}